/*Carrossel*/
.area_carrossel{
    margin-top: 70px;
    display: flex;
    place-items: center;
    place-content: center;
    overflow: hidden;
}
.carrossel {
    height: 40vh;
    width: 130vh;
    position: relative;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 10vh;
}
.imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}
.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.seta-esquerda {
    left: 0px;
}
.seta-direita {
    right: 0px;
}
/*Fim Carrossel*/

/*Botões*/
.area_botoes {
    position: relative;
    height: 75px;
    width: 100%;
    list-style: none;
    display: flex;
    place-items: center;
    place-content: center;
    text-align: center;
}
.area_botoes button {
    margin: 50px;
    border: none;
    background-color: transparent;
    font-family: BebasNeue;
    font-size: 18px;
    color: #3f1a14;
    width: 250px;
    height: 50px;
}
.area_botoes button:hover {
    background-color: #3f1a14;
    color: white;
    border-radius: 10px;
}
/*Fim Botões*/

/*Páginas*/
.area_conteudo {
    width: 100%;
    overflow: hidden;
}
.cont {
    display: flex;
    width: 200%;
    height: 100%;
    box-sizing: border-box;
    transform: none;
    transition: all 0.7s;
    flex-direction: line;
}
.page{
    margin-bottom: 50px;
    height: 120%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.conteudo {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
    width: 70%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;  
}
.conteudo h1{
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 75px;
    display: flex;
    align-items: center;
    font-family: BebasNeue;
    font-size: 70px;
    color: #3f1a14;
}
.linha {
    display: flex;
    justify-content: center;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    width: 100%;
    height: 27%;
}
.item {
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 8vh;
    width: 45vh;
    height: 35vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.item:hover {
    transition: transform 0.7s;
    transform: scale(1.1);
}
.img_item {
    object-fit: cover;
    width: 100%;
    height: 80%;
}
.linha p {
    font-size: 3vh;
    text-align: center;
    font-family: Oswald;
}
/*Fim Páginas*/

/*Conteúdo*/

/*Fim Conteúdo*/