#container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*ESTILO GERAL - LOGIN|REGISTRAR*/
.inputs{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.label{
    color: #3f1a14;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
/*OU = no meio*/
#if{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: BebasNeue;
    font-size: 50px;
    color: #3f1a14;
}
#if a{
    text-decoration: none;
    color: #3f1a14;
    text-align: center;
}




/*LOGIN*/
#logBox{
    display: flex;
    justify-content: center;
    font-family: BebasNeue;
    color: white;
}
#loginContainer{
    margin: 50px;
    width: 430px;
    height: 380px;
    margin-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.inputs{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.label{
    color: #3f1a14;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
#buttonCONFIRMAR{
    width: 100px;
    height: 50px;
}

/*REGISTRAR*/
#regBox{
    display: flex;
    justify-content: center;
    font-family: BebasNeue;
    color: white;
}
#regContainer{
    margin: 50px;
    width: 430px;
    height: 380px;
    margin-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
#buttonCONFIRMAR{
    width: 100px;
    height: 50px;
}

