.area_contato {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

/*TEXTO*/
.areaGERAL p {
    margin: 5vh;
    text-align: justify;
    font-family: Oswald;
    font-size: 20px;
}
.areaGERAL li{
    font-family: Oswald;
    font-size: 20px;
}
.areaGERAL h1 {
    font-family: Oswald;
    font-size: 40px;
    color: #3f1a14;
    margin-top: 10px;
}

/*SOBRE*/
.porcosobre {
    margin-right: 10vh;
    width: 35vh;
}

/*TELEFONE*/
.areacontatoTELEFONE {
    height: 359px;
    width: 150vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
}
.porcofone {
    margin-left: 10vh;
    width: 52vh;
}
.fonelist {
    margin: 5vh;
    flex-direction: row;
}
.fonelist li{
    margin-bottom: 2vh;
}
.areaconteudo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*MAPA*/
.areacontatoMAPA {
    height: 455px;
    width: 150vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
}
.porcomapa {
    margin-right: 10vh;
    width: 50vh;
}
.areamapa {
    height: 280px;
    width: 480px;
    margin: 5vh;
    border: 2px solid #3f1a14;
    border-radius: 5vh;
}
.map {
    width: 100%;
    border-radius: 5vh;
    height: 100%;
}


@media (max-width: 1024px) {
    .area_contato {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    /*TEXTO*/
    .area_contato p {
        margin: 1vh;
        text-align: center;
        font-family: Oswald;
        font-size: 14px;

    }
    .area_contato li{
        font-family: Oswald;
        font-size: 15px;
        text-align: center;
    }
    .area_contato h1 {
        font-family: Oswald;
        font-size: 20px;
        color: #3f1a14;
        margin-top: 10px;
    }
    
    /*SOBRE*/
    .porcosobre {
        margin-right: 10vh;
        width: 35vh;
    }
    
    /*TELEFONE*/
    .areacontatoTELEFONE {
        height: 300px;
        width: 360px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 5vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
        display: flex;
        /*justify-content: center;*/
        align-items: center;
        flex-direction: column;
    }
    .porcofone {
        margin-right: 300px;
        margin-top: 190px;
        width: 100px;
        position: absolute;
    }
    .fonelist {
        margin: 5vh;
        flex-direction: row;
    }
    .fonelist li{
        margin-bottom: 2vh;
    }
    .areaconteudo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /*MAPA*/
    .areacontatoMAPA {
        height: 400px;
        width: 300px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 5vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
        display: flex;
        /*justify-content: center;*/
        align-items: center;
        flex-direction: column;
    }
    .porcomapa {
        margin-bottom: 300px;
        margin-left: 200px;
        margin-right: 0vh;
        width: 70px;
        position: absolute;
    }
    .areamapa {
        height: 300px;
        width: 270px;
        margin: 5vh;
        border: 2px solid #3f1a14;
        border-radius: 5vh;
    }
    .map {
        width: 100%;
        border-radius: 5vh;
        height: 100%;
    }
}

/*Galaxy Fold*/
@media (max-width: 280px){
    /*Telefone*/
    .areacontatoTELEFONE {
        height: 300px;
        width: 240px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 5vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
        display: flex;
        /*justify-content: center;*/
        align-items: center;
        flex-direction: column;
    }
    .porcofone {
        margin-right: 230px;
        margin-top: 190px;
        width: 100px;
        position: absolute;
    }

    /*Mapa*/
    .areacontatoMAPA {
        height: 400px;
        width: 240px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 5vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
        display: flex;
        /*justify-content: center;*/
        align-items: center;
        flex-direction: column;
    }
    .porcomapa {
        margin-bottom: 300px;
        margin-left: 200px;
        margin-right: 0vh;
        width: 70px;
        position: absolute;
    }
    .areamapa {
        height: 300px;
        width: 220px;
        margin: 5vh;
        border: 2px solid #3f1a14;
        border-radius: 5vh;
    }
    .map {
        width: 100%;
        border-radius: 5vh;
        height: 100%;
    }
}