.allcardapio {
    height: 120vh;
}
.areacardapio_botoes {
    margin-top: 5vh;
    position: relative;
    height: 75px;
    width: 100%;
    list-style: none;
    display: flex;
    place-items: center;
    place-content: center;
    text-align: center;
}
.areacardapio_botoes button {
    border: none;
    background-color: transparent;
    font-family: BebasNeue;
    font-size: 3vh;
    color: #3f1a14;
    width: 35vh;
    height: 10vh;
    cursor: pointer;
}
.areacardapio_botoes button:hover {
    background-color: #3f1a14;
    color: white;
    border-radius: 10px;
}
.areacardapio_produtos {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.areacardapio_todos {
    display: flex;
    width: 400%;
    height: 100%;
    box-sizing: border-box;
    transform: none;
    transition: all 0.7s;
    flex-direction: line;
}
.cardapio {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.areacard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 80%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
    border-radius: 50px; 
}
.areacard h1 {
    height: 10%;
    font-family: BebasNeue;
    font-size: 7vh;
    color: #3f1a14;
    display: flex;
    align-items: center;
}
.linha {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 2vh;
    height: 33%;
}
.item{
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 8vh;
    width: 20%;
    height: 80%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
}
.item:hover {
    transition: transform 0.7s;
    transform: scale(1.1);
}
.img_item{
    object-fit: contain;
    border-radius: 10px;
    width: 100%;
    height: 80%;
}
.linha p {
    color: #3f1a14;
    font-size: 12px;
    text-align: center;
    font-family: Oswald;
}

/*Pop Ups*/
.modal {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal.open {
    opacity: 1;
    z-index: 999;
}
.popup {
    width: 50%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fechar {
    position: fixed;
    float: right;
    top: 7%;
    right: 26.5%;
    font-size: 3vh;
    border: none;
    z-index: 3;
    background-color: transparent;
    cursor: pointer;
}
.popup h1 {
    font-family: BebasNeue;
    color: #3f1a14;
}
.popup img {
    object-fit: fill;
    height: 45%;
}
.textopu{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 55%;
}
.textopu p {
    width: 70%;
    font-family: Oswald;
    text-align: center;
    margin-top: 5vh;
    margin-left: 7vh;
    margin-right: 7vh;
}
.areaqtd {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textopu label {
    font-family: BebasNeue;
    color: #3f1a14;
    font-size: 150%;
    margin-bottom: 3px;
    margin-top: 5vh;
}
.textopu h2 {
    position: relative;
    font-size: 150%;
    font-family: BebasNeue;
    color: #3f1a14;
    margin: 1.5%;
    margin-right: 0px;
}
.preco {
    margin-left: 0px;
}
.area_preco {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.qtd {
    display: flex;
    align-items: center;
    font-size: 150%;
    width: 7%;
    height: 100%
}
.addcarrinho {
    font-family: Oswald;
    border: none;
    border-radius: 2vh;
    background:rgb(20, 197, 20);
    color: white;
    margin-top: 0.2%;
    font-size: 2.7vh;
    width: 35%;
    height: 14%;
    cursor: pointer;
}
.addcarrinho:hover {
    background: rgb(20, 150, 20)
}
.changeqtd {
    margin: 5px;
    border: none;
    border-radius: 20%;
    width: 5%;
    height: 100%;
    background-color: rgb(20, 197, 20);
    color: white;
    cursor: pointer;
}
.changeqtd:hover {
    background-color: rgb(20, 150, 20);
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

/*ESTILO MOBILE*/
@media (max-width: 1024px){
    .areacardapio_botoes {
        margin-bottom: 50px;
    }
    .areacardapio_botoes button {
        border: none;
        background-color: transparent;
        font-family: BebasNeue;
        font-size: 17px;
        color: #3f1a14;
        width: 95px;
        height: 50px;
        cursor: pointer;
    }
    .linha {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 33%;
    }
    .hbg1 {
        margin: 75px;
    }
    .item_hbg{
        margin-top: 10px;
    }
    .titulo_hbg {
        margin-bottom: 55px;
    }
    .bbd1 {
        margin: 75px;
    }
    .item_bbd {
        margin-top: 10px;
    }
    .bb2 {
        margin-top: 30px;
    }
    .titulo_bbd {
        margin-bottom: 60px;
    }
    .sbm1 {
        margin: 75px;
        margin-bottom: 0;
    }
    .sbm2 {
        display: flex;
        justify-content: baseline;
    }
    .item_sbm {
        margin-top: 10px;
    }
    .titulo_sbm {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .cmb1 {
        margin-bottom: 0;
    }
    .cmb2 {
        margin-top: 0;
    }
    .item_cmb {
        margin-top: 10px;
    }
    .titulo_cmb {
        margin-top: 35px;
        margin-bottom: 40px;
    }
    /*Quadrado*/
    .areacard {
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        height: 85%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
        border-radius: 50px; 
    }
    .cbbd {
        height: 87%;
    }
    .csbm {
        height: 63%;
    }
    .ccmb {
        height: 53%;
    }
    .areacard h1 {
        height: 2%;
        font-family: BebasNeue;
        font-size: 7vh;
        color: #3f1a14;
        display: flex;
        align-items: center;
    }
    .cardapio {
        height: 98%;
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
    .allcardapio {
        height: 2000px;
    }
    .areacardapio_produtos {
        height: 100%;
        width: 100%;
        overflow:hidden;
    }
    .item{
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 0px;
        width: 200px;
        height: 140px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        cursor: pointer;
    }

    /*Pop-ups*/
    .popup {
        width: 95%;
        height: 95%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .fechar {
        position: fixed;
        float: right;
        top: 4%;
        right: 6%;
        font-size: 5vh;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .addcarrinho {
        font-family: Oswald;
        border: none;
        border-radius: 2vh;
        background:rgb(20, 197, 20);
        color: white;
        margin-top: 0.2%;
        font-size: 2.7vh;
        width: 70%;
        height: 14%;
        cursor: pointer;
    }
    .areaqtd {
        height: 5vh;
        width: 500%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .qtd {
        width: 100px;
    }
    .textopu p {
        width: 94%;
        font-family: Oswald;
        text-align: center;
        margin-top: 0vh;
        margin-left: 7vh;
        margin-right: 7vh;
    }
    .popup img{
        width: 50%;
        height: 30%;
    }
    .popup h1{
        text-align: center;
    }
    input[type=number]::-webkit-inner-spin-button {
        opacity: 0;
    }
}