*{margin: 0; padding: 0}
body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue.ttf);
}
@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-Bold.ttf);
}
/*Header*/
.cabecalho {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#130502, #3f1a14);
}
.logo {
    width: 130px;
    height: 160px;
    position: relative;
}
.texto{
    font-family: BebasNeue;
    width: 25%;
    height: 27%;
    margin: 50px;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-decoration: none;
    border-radius: 10px;
}
.texto:hover {
    background: #612920;
}

/*LOGIN*/
#login-box{
    display: flex;
    right: 0px;
    justify-content: center;
    position: absolute;
    height: 60px;
    color: white;
    font-family: BebasNeue;
    font-size: 30px;
    cursor: pointer;
    border-bottom-left-radius: 10px;
}
#login-box:hover {
    background: #612920;
}
#login-box a{
    text-decoration: none;
    color: white;
}
#login{
    margin: 10px;
}
#registrar{
    margin: 10px;
}

/*Fim Header*/

/*Footer*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 100%;
    background: linear-gradient(#3f1a14, #130502);
}
footer h1 {
    top: 10px;
    font-family: BebasNeue;
    color: white;
}
.textofooter{
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    color: white;
}
footer  a {
    text-decoration: none;
    color: pink;
    transition: color 1s, font-size 1s;
}
footer a:hover{
    color: #eb6a56;
    font-size: 24px;
}
footer h2 {
    margin-top: 0;
    color: white;
    text-align: center;
    margin-top: 7px;
}
ul {
    list-style-type: none;
    padding-inline-start: 0px !important;
}
ul li {
    display: inline-block;
    margin: 10px; 
    margin-top: 7px;
}
ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: white; 
    transition: font-size 1s;
}
/*Fim Footer*/

/*ESTILO GERAL*/
@media (max-width: 912px) {
    /*Header*/
    .cabecalho-mobile {
        width: 100%;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(#130502, #3f1a14);
    }
    .logo {
        width: 90px;
        height: 120px;
        margin-top: 33px;
        position: relative;
    }
    .texto{
        font-family: BebasNeue;
        color: white;
        display: flex;
        justify-content: center;
        font-size: 30px;
        text-decoration: none;
        border-radius: 10px;
        top: 12%;
    }
    .cardapio{
        left: 10%;
    }
    .contato{
        right: 10%;
    }
    .texto:hover {
        background: #612920;
    }
    
    /*LOGIN*/
    #login-box{
        display: flex;
        right: 0px;
        justify-content: center;
        position: absolute;
        height: 60px;
        color: white;
        font-family: BebasNeue;
        font-size: 24px;
        cursor: pointer;
        border-bottom-left-radius: 10px;
    }
    #login-box:hover {
        background: #612920;
    }
    #login-box a{
        text-decoration: none;
        color: white;
    }
    #login{
        margin: 10px;
    }
    #registrar{
        margin: 10px;
    }
    
    /*Fim Header*/
    
    /*Footer*/
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        top: 50;
        width: 100%;
        background: linear-gradient(#3f1a14, #130502);
    }
    footer h1 {
        font-family: BebasNeue;
        color: white;
    }
    /*Fim Footer*/
}


/*Galaxy Fold*/
@media (max-width: 280px){
    #login-box{
        display: flex;
        right: 0px;
        justify-content: center;
        position: absolute;
        height: 60px;
        color: white;
        font-family: BebasNeue;
        font-size: 20px;
        cursor: pointer;
        border-bottom-left-radius: 10px;
    }
    .texto{
        font-family: BebasNeue;
        color: white;
        display: flex;
        justify-content: center;
        font-size: 23px;
        text-decoration: none;
        border-radius: 10px;
        top: 12%;
    }
}