/*Carrossel*/
.area_carrossel{
    margin-top: 70px;
    display: flex;
    place-items: center;
    place-content: center;
    overflow: hidden;
}
.carrossel {
    height: 300px;
    width: 950px;
    position: relative;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 10vh;
}
.imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}
.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.seta-esquerda {
    left: 0px;
}
.seta-direita {
    right: 0px;
}
/*Fim Carrossel*/

/*Botões*/
.area_botoes {
    position: relative;
    height: 75px;
    width: 100%;
    list-style: none;
    display: flex;
    place-items: center;
    place-content: center;
    text-align: center;
}
.area_botoes button {
    margin: 50px;
    border: none;
    background-color: transparent;
    font-family: BebasNeue;
    font-size: 18px;
    color: #3f1a14;
    width: 250px;
    height: 50px;
}
.area_botoes button:hover {
    background-color: #3f1a14;
    color: white;
    border-radius: 10px;
}
/*Fim Botões*/

/*Páginas*/
.area_conteudo {
    width: 100%;
    overflow: hidden;
}
.cont {
    display: flex;
    width: 200%;
    height: 100%;
    box-sizing: border-box;
    transform: none;
    transition: all 0.7s;
    flex-direction: line;
}
.page{
    margin-bottom: 50px;
    height: 120%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.conteudo {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
    width: 70%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;  
}
.conteudo h1{
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 75px;
    display: flex;
    align-items: center;
    font-family: BebasNeue;
    font-size: 70px;
    color: #3f1a14;
}
.linha {
    display: flex;
    justify-content: center;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    width: 100%;
    height: 27%;
}
.item {
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 8vh;
    width: 45vh;
    height: 35vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
}
.item p {
    color: #3f1a14;
}
.item a {
    text-decoration: none;
}
.item:hover {
    transition: transform 0.7s;
    transform: scale(1.1);
}
.img_item {
    object-fit: scale-down;
    width: 100%;
    height: 80%;
}
.linha p {
    font-size: 3vh;
    text-align: center;
    font-family: Oswald;
}
/*Fim Páginas*/
/*Pop Ups*/
.modal {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal.open {
    opacity: 1;
    z-index: 999;
}
.popup {
    width: 50%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fechar {
    position: fixed;
    float: right;
    top: 7%;
    right: 26.5%;
    font-size: 3vh;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.popup h1 {
    font-family: BebasNeue;
    color: #3f1a14;
}
.popup img {
    height: 45%;
}
.textopu{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 55%;
}
.textopu p {
    width: 70%;
    font-family: Oswald;
    text-align: center;
    margin-top: 5vh;
    margin-left: 7vh;
    margin-right: 7vh;
}
.areaqtd {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textopu label {
    font-family: BebasNeue;
    color: #3f1a14;
    font-size: 150%;
    margin-bottom: 3px;
    margin-top: 5vh;
}
.textopu h2 {
    position: relative;
    font-size: 150%;
    font-family: BebasNeue;
    color: #3f1a14;
    margin: 1.5%;
    margin-right: 0px;
}
.preco {
    margin-left: 0px;
}
.area_preco {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.qtd {
    display: flex;
    align-items: center;
    font-size: 150%;
    width: 5%;
    height: 100%
}
.addcarrinho {
    font-family: Oswald;
    border: none;
    border-radius: 2vh;
    background:rgb(20, 197, 20);
    color: white;
    margin-top: 0.2%;
    font-size: 2.7vh;
    width: 35%;
    height: 14%;
    cursor: pointer;
}
.addcarrinho:hover {
    background: rgb(20, 150, 20)
}
.changeqtd {
    margin: 5px;
    border: none;
    border-radius: 20%;
    width: 5%;
    height: 100%;
    background-color: rgb(20, 197, 20);
    color: white;
    cursor: pointer;
}
.changeqtd:hover {
    background-color: rgb(20, 150, 20);
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

/*Conteúdo*/

/*Fim Conteúdo*/

/*ESTILO HOME MOBILE*/
@media (max-width: 1024px) {
    .area_carrossel{
        margin-top: 70px;
        display: flex;
        place-items: center;
        place-content: center;
        overflow: hidden;
    }
    .carrossel {
        height: 124px;
        width: 100%;
        position: relative;
        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
        margin-bottom: 10vh;
    }
    .imagem {
        object-fit: scale-down;
        height: 100%;
        position: absolute;
        transition: opacity 0.5s ease-in-out;
    }
    .seta {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.75);
        color: white;
        text-align: center;
        cursor: pointer;
        user-select: none;
    }
    .seta-esquerda {
        left: 0px;
    }
    .seta-direita {
        right: 0px;
    }
    /*Fim Carrossel*/
    
    /*Botões*/
    .area_botoes {
        position: relative;
        height: 75px;
        width: 100%;
        list-style: none;
        display: flex;
        place-items: center;
        place-content: center;
        text-align: center;
    }
    .area_botoes button {
        margin: 50px;
        border: none;
        background-color: transparent;
        font-family: BebasNeue;
        font-size: 18px;
        color: #3f1a14;
        width: 250px;
        height: 50px;
    }
    .area_botoes button:hover {
        background-color: #3f1a14;
        color: white;
        border-radius: 10px;
    }
    /*Fim Botões*/
    
    /*Páginas*/
    .area_conteudo {
        width: 100%;
        overflow: hidden;
    }
    .cont {
        display: flex;
        width: 200%;
        height: 100%;
        box-sizing: border-box;
        transform: none;
        transition: all 0.7s;
        flex-direction: line;
    }
    .page{
        margin-bottom: 50px;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .conteudo {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
        width: 90%;
        height: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 50px;  
    }
    .conteudo h1{
        margin-top: 5vh;
        margin-bottom: 5vh;
        height: 75px;
        display: flex;
        align-items: center;
        font-family: BebasNeue;
        font-size: 70px;
        color: #3f1a14;
    }
    .linha {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;
        height: 27%;
    }
    .item {
        margin-left: 3vh;
        margin-right: 3vh;
        margin-bottom: 8vh;
        width: 25vh;
        height: 35vh;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
    .item:hover {
        transition: transform 0.7s;
        transform: scale(1.1);
    }
    .img_item {
        object-fit: scale-down;
        width: 100%;
        height: 80%;
    }
    .linha p {
        font-size: 20px;
        text-align: center;
        font-family: Oswald;
    }
    /*Pop-ups*/
    .popup {
        width: 95%;
        height: 95%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .fechar {
        position: fixed;
        float: right;
        top: 4%;
        right: 6%;
        font-size: 5vh;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .addcarrinho {
        font-family: Oswald;
        border: none;
        border-radius: 2vh;
        background:rgb(20, 197, 20);
        color: white;
        margin-top: 0.2%;
        font-size: 2.7vh;
        width: 70%;
        height: 14%;
        cursor: pointer;
    }
    .areaqtd {
        height: 5vh;
        width: 500%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .qtd {
        width: 100px;
    }
    .area_preco {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .textopu p {
        width: 94%;
        font-family: Oswald;
        text-align: center;
        margin-top: 0vh;
        margin-left: 7vh;
        margin-right: 7vh;
    }
    .popup img{
        width: 50%;
        height: 30%;
    }
    .popup h1{
        text-align: center;
    }
    input[type=number]::-webkit-inner-spin-button {
        opacity: 0;
    }        
}
