#container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*ESTILO GERAL - LOGIN|REGISTRAR*/
.inputs{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.label{
    color: #3f1a14;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
/*OU = no meio*/
#if{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: BebasNeue;
    font-size: 50px;
    color: #3f1a14;
}
#if a{
    text-decoration: none;
    color: #3f1a14;
    text-align: center;
}
/*LOGIN*/
#logBox{
    display: flex;
    height: 470px;
    justify-content: center;
    font-family: BebasNeue;
    color: white;
}
#loginContainer{
    margin: 50px;
    width: 430px;
    height: 450px;
    margin-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.inputs{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.label{
    color: #3f1a14;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}


/*REGISTRAR*/
#regBox{
    display: flex;
    height: 470px;
    justify-content: center;
    font-family: BebasNeue;
    color: #3f1a14;
}
#regContainer{
    margin: 50px;
    width: 430px;
    height: 450px;
    margin-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
/*PORQUINHOS*/
.porcoslogin {
    margin-top: 30px;
    width: 100%;
}
/*Confirmar*/
#buttonCONFIRMAR{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    transition: background 1s, color 1s, border-color 1s;
}
#buttonCONFIRMAR:hover{
    background: #3f1a14;
    color: white;
    border-color: chocolate;
}
/*ESTILO MOBILE*/
@media (max-width: 1024px){
    #container{
        display: flex;
        flex-direction: column;
    }
    /*ESTILO GERAL - LOGIN|REGISTRAR*/
    .inputs{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .label{
        color: #3f1a14;
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
    /*OU = no meio*/
    #if{
        display: flex;
        align-items: none;
        justify-content: none;
        font-family: BebasNeue;
        font-size: 50px;
        color: #3f1a14;
    }
    #if a{
        text-decoration: none;
        color: #3f1a14;
        text-align: center;
    }
    /*LOGIN*/
    #logBox{
        display: flex;
        justify-content: center;
        width: 100%;
        font-family: BebasNeue;
        color: white;
    }
    #loginContainer{
        margin: 50px;
        width: 330px;
        height: 450px;
        margin-top: 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    }
    .inputs{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .label{
        color: #3f1a14;
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
    #buttonCONFIRMAR{
        width: 100px;
        height: 50px;
    }
    /*REGISTRAR*/
    #regBox{
        display: flex;
        width: 100%;
        justify-content: center;
        font-family: BebasNeue;
        color: white;
    }
    #regContainer{
        margin: 50px;
        width: 330px;
        height: 450px;
        margin-top: 0px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    }
    #buttonCONFIRMAR{
        width: 100px;
        height: 50px;
    }
    /*PORQUINHOS*/
    .porcoslogin {
        margin-top: 0;
        width: 100%;
    }
}