
.cabecalho {
    width: 100%;
    height: 200px;
    background-color: #3f1a14;
}

.navi {
    position: absolute;
    height: 200px;
    width: 100%;
    display: grid; 
    place-items: center; 
}

.menu {
    height: 200px;
    text-align: center;
    display: flex;
    list-style: none;
    place-items: center;
}

.logo {
    position: relative;
    width: 130px;
}

.menu li {
    width: 230px;
}

header a {
    font-family: BebasNeue;
    width: 30px;
    color: white;
    font-style: bold;
    font-size: 45px;
    text-decoration: none;
    margin: 40px;
}