.area_contato {
    margin-top: 10vh;
    height: 250vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
.areacontato {
    height: 200vh;
    width: 150vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
}
.areacontato p {
    margin: 5vh;
}
.areacontato h1 {
    font-family: BebasNeue;
    font-size: 25px;
    color: #3f1a14;
    margin-top: 5vh;
}
.porcosobre {
    margin-right: 10vh;
    width: 35vh;
}
.porcofone {
    margin-left: 10vh;
    width: 52vh;
}
.porcomapa {
    margin-right: 10vh;
    width: 50vh;
}
.fonelist {
    margin: 5vh;
    flex-direction: row;
}
.fonelist li{
    margin-bottom: 2vh;
}
.areaconteudo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.onde {
 margin-bottom: 10vh;
}
.areamapa {
    height: 40vh;
    margin: 5vh;
    margin-top: 2vh;
    border: 2px solid #3f1a14;
    border-radius: 5vh;

}
.map {
    width: 100%;
    border-radius: 5vh;
    height: 100%;
}